<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>correosoficial</name>
	<displayName>Correos Oficial</displayName>
	<version>1.9.1</version>
	<description>Módulo de envíos para Correos y Correos Express España</description>
	<author>Grupo Correos</author>
	<tab>shipping_logistics</tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
